/*
########################################################################################################################
##################################################    BASIC LAYOUT    ##################################################
########################################################################################################################
*/
  body{
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  background:#666;
  color:#000;
  }
  
  #wrapper{
    width:100%;
    height:100%;
  }

  #masterheader{
    width:100%;
    height:20vh;
  }

  #opennav{
    font-size:3vh;
    color:#fff;
    border:1px solid grey;
    padding:4vw 4vh;
  }

  #closenav{
    font-size:3vh;
    color:#fff;
    border:1px solid grey;
    padding:4vw 4vh;
  }

  #masternav{
    display:none;
    width:100%;
    height:100%;
    margin:0 auto;
  }
  
  #masternav li{
    list-style-type:none;
    display:inline;
  }
  
  #masternav li a{
    color:#fff;
    font-size:5vh;
    padding:1vw 1vh;
    background:#fb0;
  }
  
  #content{
    width:100%;
    height:70vh;
    background:#1f1;
  }
  
  #widgetwrap{
    width:100%;
    height:100%;
  }
  
  .widget{
    width:30vw;
    height:60vh;
    float:left;
    margin-right:3vw;
  }
  
  .widget h3{
    font-size:8vh;
  }
  
  .widget p{
    font-size:5vh;
  }
  
  #masterfooter{
    width:100%;
    height:10vh;
  }
  
  #masterfooter p{
    font-size:2vh;
    text-align:center;
  }
