/*FONT IMPORT*/
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
########################################################################################################################
##################################################    BASIC LAYOUT    ##################################################
########################################################################################################################
*/
body{
	background:#fff;
}

#wrapper{
	width:100%;
	height:100%;
	float:left;
	background:#ddd;
}

#masterhead{
	width:100%;
	height:20vh;
	background:#1c1c1c;
}


#topwrap{
	width:100%;
	height:10vh;
}

#topleft{
	width:70%;
	height:10vh;
	float:left;
}

#social1,
#social2,
#social3,
#social4{
	float:left;
}

#social-icon-1{
	color:#fff;
	background:#3b5998;
	padding:2vh 2vw;
	font-size:5vh;
}
#social-icon-2{
	color:#fff;
	background:#1da1f2;
	padding:2vh 2vw;
	font-size:5vh;
}
#social-icon-3{
	color:#fff;
	background:#333;
	padding:2vh 2vw;
	font-size:5vh;
}
#social-icon-4{
	color:#fff;
	background:#6441A4;
	padding:2vh 2vw;
	font-size:5vh;
}

#topright{
	width:30%;
	height:10vh;
	float:right;
}

#opennav{
	width:5vh;
	height:5vh;
	padding:2vh 2vw;
	float:right;
	z-index:10;
	border:1px solid grey;
	color:#fff;
}

#navtoggleopen, 
#navtoggleclose{
	font-size:5vh;
}

#closenav{
	display:none;
	width:5vh;
	height:5vh;
	padding:2vh 2vw;
	float:right;
	z-index:10;
	border:1px solid grey;
	color:#f00;
}

#navwrap{
	display:none;
	width:100%;
	height:100vh;
	background:#000;
	position:absolute;
	margin-top:-10vh;
}

#nav{
	width:100%;
	height:97%;
	margin:0 auto;
	padding-top:50px;
}

#nav li{
	width:320px;
	margin:0 auto;
	margin-top:3vh;
	list-style-type:none;
}

#nav li a{
	width:320px;
	font-size:5vh;
	background:#1c1c1c;
	color:#ddd;
	text-shadow: 1px 1px #000;
	padding:2vw 2vh;
	text-align:center;
	display:block;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
}

#webtitle{
	width:100%;
	height:10vh;
	background:#2c2c2c;
}

#title{
	width:100%;
	text-align:center;
	font-size:8vh;
	color:#fff;
	text-transform:uppercase;
	font-family: 'Rubik', sans-serif;
}

#content{
	width:100%;
	min-height:70vh;
	height:auto;
	box-sizing:border-box;
}

#content h1{
	font-size:10vh;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}

#content span{
	font-size:2vh;
	font-family: 'Open Sans', sans-serif;
}

#widgetwrap{
	width:100%;
	min-height:40vh;
	padding-top:5vh;
	padding-right:3vw;
	padding-left:3vw;
	overflow-y:auto;
	box-sizing:border-box;
}

.widget{
	width:30%;
	min-height:30vh;
	float:left;
	background:#fff;
	overflow:hidden;
}

#box1{

}

#box2{
	margin-left:3vw;
	margin-right:3vw;
}

#box3{

}

.widget h3{
	font-size:4vh;
	text-align:center;
	background:#f1f1f1;
	font-family: 'Open Sans', sans-serif;
}

.widget p{
	font-size:3vh;
	color:#000;
	padding:5px;
	font-family: 'Open Sans', sans-serif;
}

.boxinfo{
	font-size:3vh!important;
	float:left;
	margin-top:2vh;
	width:100%;
}

#age{
	font-size:3vh!important;	
}

.boxinfo_wrap{
	width:100%;
	float:left;
}

.boxinfo_left{
	float:left;
	width:70%;
	margin-top:2vh;
}

.boxinfo_left span{
	font-size:3vh!important;
	font-family: 'Open Sans', sans-serif;
}

.boxinfo_right{
	font-size:3vh!important;
	float:right;
	margin-top:2vh;
	width:30%;
	font-family: 'Open Sans', sans-serif;
}

.boxinfo_right span{
	font-size:3vh!important;
	font-family: 'Open Sans', sans-serif;
	float:right;
}

.widget_contact{
	width:100%;
	min-height:40vh;
	box-sizing:border-box;
}

#contact_title{
	width:100%;
	margin-top:8vh;
	float:left;
	font-size:5vh;
	font-family: 'Open Sans', sans-serif;
}	

#contact_span{
	margin-top:3vh;
	float:left;
	width:100%;
	font-size:4vh;
	font-family: 'Open Sans', sans-serif;
}

form{
	width:100%;
}

form input{
	width:100%;
	height:10vh;
	margin-top:5vh;
	box-sizing:border-box;
	font-size:4vw 4vh;
}

#message{
	width:100%;
	height:30vh;
	margin-top:5vh;
	box-sizing:border-box;
	font-size:4vw 4vh;
}

#sendid{
	width:100%;
	height:10vh;
	border:1px solid green;
	margin-top:5vh;
	box-sizing:border-box;
	-webkit-appearance:none;
	font-size:4vw 4vh;
}

#resetid{
	width:50vw;
	height:10vh;
	border:1px solid red;
	margin-top:5vh;
	box-sizing:border-box;
	-webkit-appearance:none;
	font-size:4vw 4vh;
}

.widget_work{
	width:100%;
	min-height:40vh;
	box-sizing:border-box;
}

#work_title{
	width:100%;
	margin-top:8vh;
	float:left;
	font-size:5vh;
	font-family: 'Open Sans', sans-serif;	
}

#work_span{
	margin-top:3vh;
	float:left;
	width:100%;
	font-size:4vh;
	font-family: 'Open Sans', sans-serif;
}


.workmonitor{
	width:100%;
	height:40vh;
	margin-top:10vh;
	overflow:hidden;
	float:left;
	border-bottom:3px solid #fff;
}

.monitor{
	width:20vw;
	height:40vh;
	float:left;
}

.monitor img{
	width:20vw;
	height:auto;
}

.workdesc{
	width:75vw;
	height:40vh;
	float:right;
	border-left:1px dashed #aaa;
}

.workdesc span{
	width:100%;
	float:left;
}

.workdesc a{
	color:#f00;
	margin-left:5px;
	margin-top:15px!important;
	padding:5px;
	border:3px solid grey;
	background:#ccc;
	float:left;
}

.workdesc h3{
	font-size:5;
	font-family: 'Open Sans', sans-serif;
	padding:5px;
}

.workdesc span{
	font-size:4vh;
	font-family: 'Open Sans', sans-serif;
	padding:5px;
}

#widget_knowledge{
	float:left;
	margin-top:5vh;
	box-sizing:border-box;
}

#widget_knowledge p{
	font-size:3vh;
	font-family: 'Open Sans', sans-serif;
	text-align:justify;
	margin-top:1vh;
	padding:1vw;
}

#widget_knowledge span{
	width:100%;
	height:5vh;
	font-size:2vh;
	padding-left:30px;
}
	
#widget_knowledge ul{
	display:block;
	padding-left:60px;
	padding-top:30px;
	padding-bottom:30px;
	list-style-type:square;
}

#knowledge_bottom{
	width:100%;
	float:left;
	box-sizing:border-box;
}

#masterfooter{
	width:100%;
	height:10vh;
	float:left;
	background:#1c1c1c;
}

#masterfooter p{
	padding-top:4vh;
	text-align:center;
	font-size:3vh;
	color:#4c4c4c;
	height:5vh;
	font-family: 'Open Sans', sans-serif;
}


@media screen and (max-width: 640px){
	#masterhead{
		height:18vh;
	}
	
	#nav{
		padding-top:50px;
		margin-left:-14px;
	}
	
	#webtitle{
		height:8vh;
	}
	
	#title{
		font-size:6vh;
	}
	
	#content h1{
		font-size:6vh;
	}

	#widgetwrap{
		width:100%;
		min-height:58vh;
		padding-right:0vw;
		padding-left:0vw;
		overflow-y:auto;
		box-sizing:border-box;
	}

	.widget{
		width:100%;
		min-height:30vh;
		margin-left:0vw;
		margin-top:10px;
		float:left;
		background:#fff;
		display:inline-block;
	}

	#box1{
		width:100%;
		float:left;
	}

	#box2{
		width:100%;
		float:left;
		margin-left:0vw;
		margin-right:0vw;
	}

	#box3{
		width:100%;
		float:left;
	}

	#masterfooter{
		width:100%;
		height:10vh;
		background:#1c1c1c;
	}

	#masterfooter p{
		padding-top:4vh;
		text-align:center;
		font-size:2vw 2vh;
		color:#4c4c4c;
		height:0vh;
	}

} /* max-width 640px */

@media screen and (max-width: 479px){
	body{
		min-width:320px;
	}
	
	#masterhead{
		height:14vh;
	}
	
	#webtitle{
		height:4vh;
	}
	
	#title{
		font-size:3vh;
	}
	
	#content h1{
		font-size:3vh;
	}
	
	.workmonitor{
		width:100%;
		height:80vh;
		margin-top:10vh;
		overflow:hidden;
		float:left;
	}
	.monitor{
		width:100vw;
		height:40vh;
		float:left;
	}

	.monitor img{
		width:auto;
		height:40vh;
	}

	.workdesc{
		width:100vw;
		height:37vh;
		float:left;
		border-top:1px dashed #aaa;
		border-left:0px;
	}

	.workdesc h3{
		font-size:5;
		font-family: 'Open Sans', sans-serif;
		padding:5px;
	}

	.workdesc span{
		font-size:4vh;
		font-family: 'Open Sans', sans-serif;
		padding:5px;
	}
} /*max-width 320px */
